*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

.heading {
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
}

.desserts-container {
    margin: 0rem auto;
    padding: 1rem;
    display: flex;
    gap: 2rem;
}

.basket {
    flex: 2;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 1rem;
}

.desserts-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 1rem;
    flex: 5;

}

.dessert-item {
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: center;
    padding: 1rem;
    flex: 0.5;

}

.dessert-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.dessert-thumbnail {
    width: 100%;
    height: auto;
    display: block;
}

.dessert-details {
    padding: 1rem;
}

.dessert-category {
    font-size: 0.875rem;
    color: black;
    margin-bottom: 0.5rem;
    display: inline-block;
}

.dessert-name {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.dessert-price {
    font-size: 1rem;
    color: #333;
    margin-bottom: 1rem;
}

.quantity-controls {
    display: inline-flex;
    align-items: center;
    background-color: #c73b0f;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #c73b0f;
    color: #fff;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 0.25rem 0.75rem;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    margin: 0 0.25rem;
}



.btn:focus {
    outline: 2px solid #ccc;
}

@media screen and (max-width: 768px) {
    .desserts-container {
        flex-direction: column;
        padding: 1rem;
    }

    .basket {
        order: 2;
        margin-top: 2rem;
    }

    .desserts-list {
        order: 1;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        margin-top: 2rem;
    }

    .heading {
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .desserts-list {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .dessert-item {
        max-width: 100%;
    }

    .quantity-controls {
        padding: 1rem;
        max-width: 50%;
    }

}