.your_cart {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    padding: 3rem;
    max-width: 18rem;
}



.your_card h3 {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top: 1.5rem;
    text-align: center;
    color: #C73b0F;
}

.your_card p {
    margin-top: 1rem;
    text-align: center;
}



.cart_title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    color: #C73b0F;
}

.product_name {
    color: black;
    font-weight: bold;
    margin-top: 1rem;
}

.product_quantity {
    font-size: 1rem;
    text-align: center;
    margin-top: 0.5rem;
    text-align: left;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid grey;
}

.order {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.image {
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 1.3rem;
    width: 1.2rem;
}

.item-prize {
    color: #856259;
}

.cart_count {
    color: #C73A0F;
}

.order_total_value {
    color: #260F08;
}


.total-prize {
    display: flex;
    gap: 0.5rem;
}




.item-dollar-prize {
    color: #87635A;
}

.product_info {
    display: flex;
    justify-content: space-between;
}

.order_total_label {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0.5rem;
}

.order_total_value {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 0.5rem;
}

.carbon_neutral_delivery {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 0.5rem;
    color: grey;
    width: 16rem;
    padding: 0.5rem;
    background-color: #F0F0F0;
}

.image_carbon {
    position: relative;
    left: -0.5rem;
}

.text_nature {
    display: flex
}





.your_card img {
    width: 1rem;
    margin-top: 2rem;

}

.btn_order {
    margin-top: 1rem;
    padding: 1rem;
    color: white;
    border-radius: 2rem;
    background-color: #c73b0f;

}

.product_name {
    color: black;
    font-weight: bold
}

@media screen and (max-width: 768px) {
    .your_cart {
        height: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 2rem;
        justify-self: center;

    }

    .empty_card_image {
        width: 50%;
    }


}

@media screen and (max-width: 480px) {


    .your_card h3 {
        font-size: 1.2rem;

    }
}